<div class="container">
    <div class="row">
        <div class="">
            <div class="col-12 col-sm-12 col-lg-3">
                <input type="text" class="form-control" value="" id="nombre" name="nombre" [(ngModel)]="nombre"
                    placeholder="Ingresa un Nombre">
            </div>
            <div class="col-12 col-sm-12 col-lg-3">
                <input type="text" class="form-control" value="" id="apellido" name="apellido" [(ngModel)]="apellido"
                    placeholder="Ingresa un Apellido">
            </div>
            <div class="col-12 col-sm-12 col-lg-3">
                <button class="btn btn-secondary " type="button" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <table *ngIf="datos.length > 0" class="table table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datos" class="text-center">
                    <td>{{dato.USUARIO_ID}}</td>
                    <td>{{dato.FIRST_NAME}}</td>
                    <td>{{dato.LAST_NAME}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>